.MuiBadge-badge {
  padding: 5px 6px !important;
  background: red !important;
  font-size: 12px !important;
  color: white !important;
  position: absolute !important;
  left: 60px !important;
  top: 12px !important;
}

.MuiBadge-root {
  padding-right: 5px !important;
}
