.listOfferCard {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  background-color: #f9fafb;
  border-radius: 10px;
  margin-top: 15px;
  padding: 30px 40px 30px 40px;
  width: 720px;
}

.textOffer{
  width: 200px;
  overflow-wrap: break-word;
}

@media (max-width: 720px) {
  .listOfferCard{
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    }

  .contentListOfferCard{
    display: flex;
    flex-direction: column;
  }  

  .contestIdOffer{
    margin-bottom: 15px;
  }

  .verifiedButton{
    margin-left: 0px;
  }

  .imgWrapperOfferCard{
    padding-bottom: 20px;
  }

  }