.mainContainer
  font-family: "Poppins"

  .container-space-1  
  padding:
    top: 48px
    bottom: 32px
    left: 15px
    right: 15px 
  line-height: 1.7
    

  .sections
    margin-top: 50px

  h1
    font-weight: 600
  p
    color: #77838F
  

  ul
    padding-left: 20px 
       
  small
    font-size: 11px
    color: #377DFF
    background: rgba(55,125,255,.1)
    border-radius: 99px

  

