$hColor: #1E2022
$pColor: #77838F
$bColor: #377DFF


.sectionContainer
  display: flex
  align-items: center
  justify-content: space-between
  font-family: 'Poppins', sans-serif
  line-height: 1.5
  padding: 32px 15px

  small
    color: $bColor
    font-size: 11px
    cursor: default
    background: #377DFF1A
    display: inline-block
    border-radius: 15px
    margin-bottom: 8px
    padding: 7px 15px
  

  h1
   color: $hColor
   font-size: 40px
   font-weight: 600
   margin-bottom: 8px
   
  p 
    color: $pColor
    margin-bottom: 16px
    
    
  
  
